{% extends "layouts/base.html" %}

{% block title %}People{% endblock %}

{% block content %}
    <h1>People</h1>

    <table class="table">
        <thead>
            <th>Name</th>
            <th>Full Name</th>
            <th>Actions</th>
        </thead>
      <tbody>
      {% for person in object_list %}
        <tr>
          <td>{{ person.display_name }}</td>
          <td>{{ person.full_name }}</td>
          <td>
            {% if perms.people.can_view_others %}
                <a href="{% url 'people:view' person.id %}" class="btn btn-primary">View Profile</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}