{% extends "layouts/base.html" %}

{% block title %}Dashboard{% endblock %}

{% load static %}

{% block content %}

    <h1>Dashboard</h1>

    <p>The dashboard tells you loooads of useful info about the house and <strong>should</strong> contain memes.</p>
    <div class="card-columns">

        <div class="card" style="width:400px">
          <img class="card-img-top" src="{% static house.main_image %}" alt="{{ house.name }}">
          <div class="card-body">
            <h4 class="card-title">Our House</h4>
            <p class="card-text">View information about the property</p>
            <a href="#" class="btn btn-primary">Our House</a>
          </div>
        </div>

        <div class="card" style="width:400px">
            <div class="card-header">Who's in the house?</div>
            <div class="card-body">
                Nobody
            </div>
        </div>

        <div class="card" style="width:400px">
            <div class="card-header">Finance</div>
            <div class="card-body">
                You owe £3
            </div>
        </div>

        <div class="card" style="width:400px">
          <img class="card-img-top" src="https://thecatapi.com/api/images/get?format=src&type=gif" alt="{{ house.name }}">
        </div>

        <div class="card" style="width:400px">
          <img class="card-img-top" src="{{ me.picture.url }}" alt="{{ me }}">
          <div class="card-body">
            <h4 class="card-title">{{ me }}</h4>
            <p class="card-text">{{ me.bio }}</p>
            <a href="#" class="btn btn-primary">My Profile</a>
          </div>
        </div>


    </div>
{% endblock %}


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Dashboard</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Annoyingly, this is all that exists on the dashboard currently.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">House Details</h5>
            </div>
            <div class="card-body">

                <p class="card-text">{{house.address}}</p>
                <p class="card-text">{{house.sortcode}}</p>
                <p class="card-text">{{house.accountnumber}}</p>

            </div>
        </div>
    </div>
</div>

